dist
bin
cmd/orchestrator/targets
cmd/orchestrator/orchestrator_20*
cmd/orchestrator/resources/collector_deps_*
cmd/orchestrator/resources/collector
cmd/orchestrator/resources/collector_arm64
cmd/orchestrator/resources/sshpass
cmd/orchestrator/resources/reporter
cmd/reporter/debug_out/*
*.log
targets